<!doctype html>
<html lang="en-NZ">

  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {{- with resources.Get "sass/fernglen.scss" -}}
      {{- with resources.ExecuteAsTemplate "sass/fernglen.scss" $ . -}}
        {{- $cssOptions := dict "targetPath" "css/fernglen.css" -}}
        {{- $cssResource := toCSS $cssOptions . }}
    <link rel="stylesheet" href="{{ $cssResource.RelPermalink }}">
      {{- end -}}
    {{- end }}
    <title>{{ .Site.Title }}</title>
  </head>

  <body>

    <header class="mobileHeader">
      <img src={{ relURL "images/fernglen.svg" }} alt="Fernglen logo" class="fernglenLogo">
      <input type="checkbox" id="mobileMenuToggle">
      <label for="mobileMenuToggle" class="hamburgerIcon">
        <span></span>
        <span></span>
        <span></span>
      </label>
      <nav class="mobileMenu">
        <ul>
          {{- range site.Menus.main }}
            {{- if $.IsMenuCurrent .Menu . }}
          <li><a href="{{ .URL }}" class="selected">{{ .Name }}</a></li>
            {{- else }}
          <li><a href="{{ .URL }}">{{ .Name }}</a></li>
            {{- end -}}
          {{- end }}
        </ul>
      </nav>
    </header>

    <nav class="sideMenu">
      <header>
        <img src={{ relURL "images/fernglen.svg" }} alt="Fernglen logo" class="fernglenLogo">
      </header>
      <ul>
        {{- range site.Menus.main -}}
          {{- if $.IsMenuCurrent .Menu . }}
        <li><a href="{{ .URL }}" class="selected">{{ .Name }}</a></li>
          {{- else }}
        <li><a href="{{ .URL }}">{{ .Name }}</a></li>
          {{- end -}}
        {{- end }}
      </ul>
    </nav>

    <div class="content">
      <main>
        {{ .Content }}
      </main>
      <footer>
        &copy; Copyright {{ time.Now.Year }} Fernglen Gardens
      </footer>
    </div>

  </body>

</html>
